page-onboarding {

h1 {
    font-family: 'Georgia' ;
    font-size: 4em sans-serif;
    color: rgba(0, 157, 248, 0.438);
}

h4 {
    font-family: 'Georgia' ;
    font-size: 2em sans-serif;
    color: rgba(0, 211, 248, 0.342);
}

}
