page-login{

    #item-label-userpassword{

        font-size: 1em;
        margin: auto;
        padding-top: 2rem;
    }
    #item-label-username{

        font-size: 1em;
        margin: auto;
        padding-top: 2rem;
    }
    .item-input-user{

        
    }
    
}