page-tr-menu-list {
ion-content {
  background-image: url('../../assets/imgs/fnd1.jpg');
  background-size: cover;
}
.list-avatar-page {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }

  .title-name{
    display: inline-block
  }

}
}