<ion-header>

  <ion-navbar>
    <ion-title>Menu Hebdomadaire</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="list-avatar-page">

  <!-- <ion-list>
    <ion-item>
      <ion-label>Sélectionne ta semaine</ion-label>
      <ion-select interface="popover">
        <ion-option value="week" *ngFor="let week of nbweek | async">Semaine {{week}}</ion-option>
        <ion-option value="week">Semaine 1</ion-option>
      </ion-select>
    </ion-item>
  </ion-list> -->

  <ion-list>

    <ion-item *ngFor="let datatum of Datatums">
      <ion-avatar item-start>
        <img src="assets/img/avatar-ts-woody.png">
      </ion-avatar>
      <h2>{{ datatum.name }}</h2>
    </ion-item>

  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="goToTrAddMenuPage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
